.active {
    height: 50px;
    vertical-align: middle;
    background-color: #0275d8;
    color:white;
}

ul li:hover{
    color: #0275d8;
    border-bottom: #0275d8 solid 2px;
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #0275d8;
}